@page "/edit"

<div class="wrapper">
	<LXEditor>
	     <!-- Sidebar -->
		<nav id="toolbox" class="p-1">
			<LXFile />
			<LXToolbox />		  
		</nav>

		<div id="content" class="container p-2">
			<LXDashboard />
		</div>

		<nav id="editor" class="p-1">
			<LXConnection />
			<LXLayout />
			<LXProperties />
		</nav>
	</LXEditor>
</div>

