@using System.Drawing
<div class="container" style="position:relative;width:@(Layout.CurrentLayout.Width)px;height:@(Layout.CurrentLayout.Height)px; background-color:@(ColorTranslator.ToHtml(Layout.CurrentLayout.BackgroundColour))" @ondrop="(e=> Editor?.EndDrag(e))" ondragover="event.preventDefault();" ondragstart="event.dataTransfer.setData('',event.target.id)">

	@foreach(var element in Layout.CurrentLayout.Elements)
	{
		@if(Editor != null)
		{
			<div style="display:block;position:absolute;left:@(element.PositionX)px;top:@(element.PositionY)px" draggable="true" @ondragstart="(e=> Editor?.StartDrag(e,element))" @onclick="()=>Editor.Select(element)" >
				<LXElement Layout="element" />
			</div>
		}
		else
		{
			<div style="display:block;position:absolute;left:@(element.PositionX)px;top:@(element.PositionY)px">
				<LXElement Layout="element" />
			</div>
		}
	}

</div>
