<div class="bg-dark">FILE</div>
<div class="p-2">
	@if(Layout?.CurrentLayout != null)
	{
		<button class="btn btn-secondary btn-sm" @onclick="(()=> Layout.NewLayout())"><i class="oi oi-file"/>&nbsp;New</button>
		<button class="btn btn-secondary btn-sm" @onclick="(()=> Layout.SaveLayout())"><i class="oi oi-folder"/>&nbsp;Save</button>
		<a class="btn btn-secondary btn-sm" href="" @onclick="(()=> Layout.SaveLayout())"><i class="oi oi-x"/>&nbsp;Close</a>
	}
</div>



